@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

body
{
	margin: 0;
	padding: 0;
	font-family: 'Poppins' ,sans-serif;
	background: #ee6c4d;
}
.box
{
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #073b4c;
	text-align: center;
	border-radius: 25px;
}
.box h1
{
	color: white;
	font-weight: 500;

}
.box input[type="text"],.box input[type="password"]
{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 3px solid #ef476f;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	background: #fff;
	border-radius: 24px;
	transition: 0.25px;
}
.box input[type="text"]:focus,.box input[type="password"]:focus
{
	width: 280px;
	border-color: #ee6c4d;
}
.box input[type="submit"]
{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #ef476f;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25px;
	cursor: pointer;
}
.box input[type="submit"]:hover
{
	background: #118ab2;
}