@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*
{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background: #ee6c4d;
    padding: 0 10px;
}
nav
{
    width: 95%;
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #1b1b1b;
    border-radius: 50px;
}
nav:after
{
    content: '';
    clear: both;
    display: table;
}
nav .logo
{
    float: left;
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
}
nav ul
{
    float: right;
    margin-right: 50px;
    list-style: none;
    position: relative;
}
nav ul li
{
    float: left;
    display: inline-block;
    background: #1b1b1b;
    margin: 0 5px;
}
nav ul li a
{
    color: white;
    line-height: 70px;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
}
nav ul li a:hover
{
    color: #ee6c4d;
    border-radius: 5px;
    box-shadow:  0 0 5px #a7a7cf,
               0 0 10px #FFFFFF;
}
nav ul ul li a:hover
{
    box-shadow: none;
}
nav ul ul
{
    position: absolute;
    top: 90px;
    border-top: 3px solid #e0fbfc;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}
nav ul ul ul
{
    border-top: none;
}
nav ul li:hover > ul
{
    top: 70px;
    opacity: 1;
    visibility: visible;
}
nav ul ul li
{
    position: relative;
    margin: 0px;
    width: 250px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
nav ul ul li a
{
    line-height: 50px;
}
nav ul ul ul li
{
    position: relative;
    top: -60px;
    left: 150px;
}
.show,.icon,input.rad
{
    display: none;
}

.content
{
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
header
{
    font-size: 35px;
    font-weight: 600;
    padding: 10px 0;
}
p
{
    font-size: 30px;
    font-weight: 500;
}
